hr {
    background-color: #e2e2e2;
}

.title {
    margin: 0%;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid;
    border-bottom-color: rgb(226, 226, 226);
    font-size: 210%;
    font-family: "Nunito";
}

.username {
    font-size: 120%;
    font-family: "Nunito";
}

.date {
    text-align: center;
    font-size: 120%;
}

.location {
    text-align: left;
    font-size: 120%;
}

.time {
    text-align: center;
}

.timestamp {
    text-align: right;
    font-size: 120%;
    color: #c9c9c9;
}

.details {
    font-size: 120%;
    font-family: "Nunito";
}

#map{
  width: 500px;
  height: 500px;
  border: thin solid black;
}
