.apptitle {
    text-align: center;
    font-size: 260%;
}

a {
    text-decoration: none;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}

.row {
    max-width: 30%;
    margin: auto;
    padding-top: 10%;
}

.card {
    width: 50%;
    margin-left: 15%;
}

.card .wrapper {
    background-image: url("dogs.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    min-height: 400px;
    position: relative;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
}

.card .wrapper:hover .data {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.card .wrapper:hover {
    background: rgba(255, 255, 255, 0.9);
}

.card .title a {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.card .data {
    color: black;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-transform: translateY(calc(50px + 110px));
    transform: translateY(calc(50px + 110px));
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.card .data .content {
    padding: 0%;
}

.card .text {
    height: 50px;
}

.card .button {
    display: block;
    width: 100px;
    margin: 70px auto 10px;
    text-align: center;
    font-size: 12px;
    color: black;
    line-height: 1;
    position: relative;
    font-weight: 700;
}