/*Details and features abou the title page*/

h1 {
    text-align: center;
    margin-bottom: 2%;
    font-size: 500%;
    font-family: "Nunito";
}

hr {
    color: #000000;
}


/*Frame all the form in to a grey box*/

.form {
    padding: 4%;
    width: 70%;
    margin: auto;
    border-style: solid;
    border-width: 3px;
    margin-top: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*Giving features to al the form*/

form {
    display: inline;
}

.title input[type=text] {
    width: 70%;
    padding: 1%;
    font-size: 120%;
    border-style: solid;
}

.inputs input[type=text] {
    width: 20%;
    padding: 1%;
    font-size: 120%;
    border-style: solid;
}

.inputs input[type=date] {
    width: 30%;
    padding: 1%;
    font-size: 120%;
    border-style: solid;
}

.inputs input[type=time] {
    width: 30%;
    padding: 1%;
    font-size: 120%;
    border-style: solid;
}

.location input[type=text] {
    width: 70%;
    padding: 1%;
    font-size: 120%;
    border-style: solid;
}

textarea {
    width: 70%;
    padding: 1%;
    font-size: 120%;
    font-family: "Arial", Helvetica, sans-serif;
    border-style: solid 1px;
}

input[type=submit] {
    width: 20%;
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: blue;
}

.hidden {
    display: none;
}
